<% include partials/header %>



    <h1 class="display-4 naslov d-flex justify-content-center mb-5">Kontaktirajte Nas</h1>

    <div class="d-md-flex justify-content-around d-sm-block text-center mb-5">

        <p class="text-muted">INTERPLASTICA <br>
            D.O.O. ZENICA </p>
        <div class="d-flex flex-column flex-md-row">
            <i class="fas fa-map-marker float-left mt-md-3 mr-md-3 d-inline d-md-block  "></i>
            <p class="text-muted float-right ">Ul. Zmaja od Bosne bb <br>
                72000 Zenica Bosna i Hercegovina</p>
        </div>

        <div class="d-flex flex-column flex-md-row">
            <i class="fas fa-phone float-left mt-3 mr-2 d-inline d-md-block"></i>
            <p class="text-muted float-right">+387 32 201 440 <br>
                +387 32 201 441 </p>
        </div>
        <p class="text-muted mt-2"><i class="far fa-envelope mr-2 d-inline d-md-inline"></i>info@interplastica.ba</p>
    </div>
    <div class="card shadow-lg rounded mx-auto text-left border-0 mb-5" style="width: 18rem">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16bffd3fd5e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16bffd3fd5e%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="" class="card-img-top">

                <div class="card-body">
                    <h5 class="card-title">Muris Spahic</h5>
                    <h6 class="card-subtitle text-muted mb-2">Direktor</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi assumenda optio explicabo id cupiditate quas, omnis quos. Facere, error accusantium.</p>
                </div>
    </div>

    <div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11439.669322617876!2d17.9005775!3d44.208769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x21a5ec0f8700b054!2sInterplastica+doo+Zenica!5e0!3m2!1sen!2sno!4v1563364873279!5m2!1sen!2sno" width="80%" height="300" frameborder="0" style="border:0" allowfullscreen ></iframe>

    </div>



<% include partials/footer %>
