<% include partials/header %>

<!-- Prva slika i tekst  -->
<div id='ogradepodnaslov' class='d-flex flex-row  justify-content-between'>
    <div>
        <h1 class='h3'>Ograde</h1>
        <hr>
        <img src="/images/ograde/ograda1.jpg" alt="">
    </div>
    <div class='align-self-center'>
        <ul class='lista'>
            <li>Installation on substrates: ground or concrete.</li>
            <li>Panel width and height available in differenet sizes.</li>
            <li> Different concepts of panel pattern. </li>
        </ul>
        <div class='mt-5'>
            <h3>UV stability</h3>
            <p><u>10 year guarantee</u></p>
        </div>
    </div>
</div>

<!-- Boje ograda  -->
<div class='mb-5'>
    <h4 class='ml-4 pl-1 mb-4'>Available Colors:</h4>
    <div class=' d-flex flex-row justify-content-around'>
        <div class='boja rounded shadow-sm bg-primary'></div>
        <div class='boja rounded shadow-sm bg-secondary'></div>
        <div class='boja rounded shadow-sm bg-success'></div>
        <div class='boja rounded shadow-sm bg-danger'></div>
    </div>
</div>

<!-- koncepti -->


<div class="podprofil  mt-5">
    <h2>The Basic Concept</h2>
    <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
    <div class="row justify-content-between">
        <div class="col-lg-7 col-md-12">
            <img src="/images/ograde/ograda3.jpg" alt="" class="slikeProfila img-fluid">
        </div>
        <div class="col-lg-5 col-md-12 mt-2">
            <p>
                <p class='align-self-center'>Cap:PVC /flat caps</p>
            </p>
        </div>
    </div>
</div>


<div class="podprofil">
    <h2>Medium Concept</h2>
    <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
    <div class="row justify-content-between">
        <div class="col-lg-7 col-md-12">
            <img src="/images/ograde/ograda4.jpg" alt="" class="slikeProfila img-fluid">
        </div>
        <div class="col-lg-5 col-md-12 mt-2">
            <p>
                <p class='align-self-center'>Cap:PVC or stainless steel/flat caps <br> Bearing elements: stainless steel
                </p>
            </p>
        </div>
    </div>
</div>

<div class="podprofil">
    <h2>Premium Concept</h2>
    <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
    <div class="row justify-content-between">
        <div class="col-lg-7 col-md-12">
            <img src="/images/ograde/ograda5.jpg" alt="" class="slikeProfila img-fluid">
        </div>
        <div class="col-lg-5 col-md-12 mt-2">
            <p>
                <p class='align-self-center'>Cap:PVC or stainless steel/flat caps <br> Bearing elements: stainless steel
                </p>
            </p>
        </div>
    </div>
</div>







<% include partials/footer %>