<% include partials/header %>

<!-- Prva slika i tekst  -->
<div id='ogradepodnaslov' class='d-flex flex-row  justify-content-between'>
    <div>
        <h1 class='h3'>Ograde</h1>
        <hr>
        <img src="/images/ograde/ograda1.jpg" alt="">
    </div>
    <div class='align-self-center'>
        <ul class='lista'>
            <li>Installation on substrates: ground or concrete.</li>
            <li>Panel width and height available in differenet sizes.</li>
            <li> Different concepts of panel pattern. </li>
        </ul>
        <div class='mt-5'>
            <h3>UV stability</h3>
            <p><u>10 year guarantee</u></p>
        </div>
    </div>
</div>

<!-- Boje ograda  -->
<div>
    <h4 class='ml-4 pl-1 mb-4'>Available Colors:</h4>
    <div class=' d-flex flex-row justify-content-around'>
        <div class='boja rounded shadow-sm bg-primary'></div>
        <div class='boja rounded shadow-sm bg-secondary'></div>
        <div class='boja rounded shadow-sm bg-success'></div>
        <div class='boja rounded shadow-sm bg-danger'></div>
    </div>
</div>

<!-- koncepti -->
<div class='mt-5'>
    <div class='d-flex flex-row  justify-content-between'>
        <div>
            <h3>The Basic Concept</h3>
            <hr class='mb-5 w-50 ml-0'>
            <img src="/images/ograde/ograda3.jpg" alt="">
        </div>
        <p class='align-self-center'>Cap:PVC /flat caps</p>
    </div>
</div>
<div class='mt-5'>
    <div class='d-flex flex-row  justify-content-between'>
        <div>
            <h3>Medium Concept</h3>
            <hr class='mb-5 w-50 ml-0'>
            <img src="/images/ograde/ograda4.jpg" alt="">

        </div>
        <p class='align-self-center'>Cap:PVC or stainless steel/flat caps <br> Bearing elements: stainless steel </p>
    </div>
</div>
<div class='mt-5'>
    <div class='d-flex flex-row  justify-content-between'>
        <div>
            <h3>Premium Concept</h3>
            <hr class='mb-5 w-50 ml-0'>
            <img src="/images/ograde/ograda5.jpg" alt="">
        </div>
        <p class='align-self-center'> </p>
    </div>
    <hr>
</div>






<% include partials/footer %>