<% include partials/header %>

<!-- Prva slika i tekst  -->
<div class="tabset">
<div class="tab-panels">


<div class="podprofil" style='margin-top: 110px;'>
    <h2>Karakteristike Ograda</h2>
    <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
    <div class="row justify-content-between">
      <div class="col-lg-7 col-md-12">
        <img src="/images/ograde/ograda1.png" style="width: 75%;" alt="" class="slikeProfila">
      </div>
      <div class="col-lg-5 col-md-12 mt-2">
        <h5><strong>Garancija</strong></h5>
        <p>Uz sve nase ograde, dobijate 10 godina garancije</p>
        <h5><strong>UV Stabilnost</strong></h5>
        <p>Garantovanost UV stabilnosti svih ograda</p>
        <h5><strong>Montaza</strong></h5>
        <p>Montaža na betonskoj i zemljanoj podlozi</p>
        <h5><strong>Dimenzije</strong></h5>
        <p>Širina i visina panela dostupna u različitim dimenzijama</p>
        <h5><strong>Dostupne boje</strong></h5>
        <div class="d-flex flex-row justify-content-around">
            <div class="boja rounded shadow-sm" id="prvaBoja"></div>
            <div class="boja rounded shadow-sm" id="drugaBoja"></div>
            <div class="boja rounded shadow-sm" id="trecaBoja"></div>
            <div class="boja rounded shadow-sm" id="cetvrtaBoja"></div>
        </div>
      </div>
    </div>
  </div>




</div>
</div>

<% include partials/footer %>