<% include partials/header %>

<!-- Podnaslov  -->
<div id='ogradepodnaslov' class=''>
    <h1 class='h3'>Ograde</h1>
    <hr class=''>
</div>


<!-- Prva slika i tekst  -->
<div class='d-flex flex-row  justify-content-between'>
    <img src="/images/ograde/ograda1.jpg" alt="">
    <div class='align-self-center'>
        <ul class='lista'>
            <li>Installation on substrates: ground or concrete.</li>
            <li>Panel width and height available in differenet sizes.</li>
            <li> Different concepts of panel pattern. </li>
        </ul>
        <div class='mt-5'>
            <h3>UV stability</h3>
            <p><u>10 year guarantee</u></p>
        </div>
    </div>
</div>

<!-- Boje ograda  -->
<img class=' mt-5 mb-5 pt-5 img-fluid d-block mx-auto rounded' src="/images/ograde/ograda2.jpg" alt="">
<hr>

<!-- koncepti -->
<div class='mt-5'>
        <h3 class='mb-5'>The Basic Concept</h3>
    <div class='d-flex flex-row  justify-content-between'>
        <img src="/images/ograde/ograda3.jpg" alt="">
        <p class='align-self-center'>Cap:PVC /flat caps</p>
    </div>
    <hr>
</div>
<div class='mt-5'>
        <h3 class='mb-5'>Medium Concept</h3>
    <div class='d-flex flex-row  justify-content-between'>
        <img src="/images/ograde/ograda4.jpg" alt="">
        <p class='align-self-center'>Cap:PVC or stainless steel/flat caps <br> Bearing elements: stainless steel </p>
    </div>
    <hr>
</div>
<div class='mt-5'>
        <h3 class='mb-5'>Premium Concept</h3>
    <div class='d-flex flex-row  justify-content-between'>
        <img src="/images/ograde/ograda5.jpg" alt="">
        <p class='align-self-center'> </p>
    </div>
    <hr>
</div>






<% include partials/footer %>