<% include partials/header %>

</div>
<div class="onamaslika">

</div>

<div class='container'>

  <!-- O NAMA TEXT -->

  <div class='d-flex justify-content-around mb-5 row '>
    <div class='col-sm-12 col-md-6'>
      <img class='img-fluid rounded shadow-sm' src="/images/firma.jpg" alt="">
    </div>

    <div class=" align-self-center text-left col-md-6 col-sm-12 d-flex flex-column mb-5">
      <h1 class='align-self-sm-center align-self-md-start'>O nama</h1>
      <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
      <p style="text-align: justify;">
        Interplastica d.o.o Zenica je nastala 2016. godine. Iako relativno mlada firma, Interplastica sa svojim
        partnerom TD Tools ima višegodišnje iskustvo u oblasti ekstruzije. Interplastica predstavlja spoj
        njemačkog znanja i bosanskohercegovačke industrijske tradicije i entuzijazma.
      </p>
      <p class='lead'>Osnovna djelatnost:</p>
      <ul class='mb-5'>
        <li>Razvoj procesa i proizvoda u ekstruziji</li>
        <li>
          Usluga serijskog ekstrudiranja plastičnih profila
        </li>
        <li>
          Koekstruzija je uobičajen proces u našoj proizvodnji sa korištenjem i do 4 vrste materijala istovremeno.
        </li>
      </ul>

      </p>
    </div>


  </div>
</div>
<!-- KRAJ O NAMA TEXT -->


<% include partials/footer %>