<% include partials/header %>
<!-- </div>

<div class="container-profili"> -->
<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Profili</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Podprofili</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">Ostalo</label>

  <div class="tab-panels">
    <!-- PROFILI -->
    <section id="marzen" class="tab-panel">
      <h2>6A. Märzen</h2>
      <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready
        malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression
        is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
      <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and lagered in cold
        caves over the summer. Modern versions trace back to the lager developed by Spaten in 1841, contemporaneous to
        the development of Vienna lager. However, the Märzen name is much older than 1841; the early ones were dark
        brown, and in Austria the name implied a strength band (14 °P) rather than a style. The German amber lager
        version (in the Viennese style of the time) was first served at Oktoberfest in 1872, a tradition that lasted
        until 1990 when the golden Festbier was adopted as the standard festival beer.</p>
    </section>

    <!-- PODPROFILI -->
    <section id="rauchbier" class="tab-panel">
      <div class="podprofil">
        <h2>Prozorski podprofil BLUE EVO</h2>
        <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
        <div class="row justify-content-between">
          <div class="col-lg-7 col-md-12">
            <img src="/images/blue evo.png" alt="" class="slikeProfila">
          </div>
          <div class="col-lg-5 col-md-12 mt-2">
            <h5><strong>Dizajn</strong></h5>
            <p>Dupli dihtung, Opcionalno bez dodatnog prikljucka na prozorski profil. Moguca univerzalna primjena</p>
            <h5><strong>Materijali</strong></h5>
            <p>Reciklat PVC prozorskih profila</p>
            <h5><strong>Kompatibilnost</strong></h5>
            <img src="/images/brugman.png" alt="" style="width: 80px;">
          </div>
        </div>
      </div>

      <div class="podprofil ">
        <h2>Prozorski podprofil BSV</h2>
        <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
        <div class="row justify-content-between">
          <div class="col-lg-7 col-md-12">
            <img src="/images/bsv.png" alt="" class="slikeProfila">
          </div>
          <div class="col-lg-5 col-md-12 mt-2">
            <h5><strong>Dizajn</strong></h5>
            <p>Fleksibilnost, dupli dihtung, vanjska komora ispunjena pjenom, opcionalno dostupno bez pjene, i bez prikljucka za klupicu. Moguca univerzalna primjena</p>
            <h5><strong>Materijali</strong></h5>
            <p>Reciklat PVC prozorskih profila</p>
            <h5><strong>Kompatibilnost</strong></h5>
            <img src="/images/brugman.png" alt="" style="width: 80px;"> 
            <img src="/images/salamander.png" alt="" style="width: 80px;">
            <img src="/images/inoutic.png" alt="" style="width: 80px;">
            <img src="/images/veka.png" alt="" style="width: 80px;">
          </div>
        </div>
      </div>

      <div class="podprofil ">
          <h2>Prozorski podprofil PEG</h2>
          <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
          <div class="row justify-content-between">
            <div class="col-lg-7 col-md-12">
              <img src="/images/peg.png" alt="" class="slikeProfila">
            </div>
            <div class="col-lg-5 col-md-12 mt-2">
              <h5><strong>Dizajn</strong></h5>
              <p>Fleksibilnost, dupli dihtung, vanjska komora ispunjena pjenom, opcionalno dostupno bez pjene, i bez prikljucka za klupicu. Moguca univerzalna primjena</p>
              <h5><strong>Materijali</strong></h5>
              <p>Reciklat PVC prozorskih profila</p>
              <h5><strong>Kompatibilnost</strong></h5>
              <img src="/images/inoutic.png" alt="" style="width: 80px;">
              <img src="/images/gealan.png" alt="" style="width: 80px;">
            </div>
          </div>
        </div>


        <div class="podprofil ">
            <h2>Prozorski podprofil SCHUCO</h2>
            <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
            <div class="row justify-content-between">
              <div class="col-lg-7 col-md-12">
                <img src="/images/peg.png" alt="" class="slikeProfila">
              </div>
              <div class="col-lg-5 col-md-12 mt-2">
                <h5><strong>Dizajn</strong></h5>
                <p>Fleksibilnost, dupli dihtung, vanjska komora ispunjena pjenom, opcionalno dostupno bez pjene, i bez prikljucka za klupicu. Moguca univerzalna primjena</p>
                <h5><strong>Materijali</strong></h5>
                <p>Reciklat PVC prozorskih profila</p>
                <h5><strong>Kompatibilnost</strong></h5>
                <img src="/images/schucologo.png" alt="" style="width: 80px;">
                
              </div>
            </div>
          </div>

          <div class="podprofil ">
              <h2>Prozorski podprofil SALAMANDER</h2>
              <hr class='align-self-sm-center align-self-md-start w-50 ml-0 mt-1 mb-3'>
              <div class="row justify-content-between">
                <div class="col-lg-7 col-md-12">
                  <img src="/images/salamanderprofil.png" alt="" class="slikeProfila">
                </div>
                <div class="col-lg-5 col-md-12 mt-2">
                  <h5><strong>Dizajn</strong></h5>
                  <p>Fleksibilnost, dihtung, Sirina profila 20 do 30mm, maksimalno 6 komora. Moguca univerzalna primjena.</p>
                  <h5><strong>Materijali</strong></h5>
                  <p>Reciklat PVC prozorskih profila</p>
                  <h5><strong>Kompatibilnost</strong></h5>
                  <img src="/images/salamander.png" alt="" style="width: 80px;">
                  
                </div>
              </div>
            </div>
    </section>

    <!-- OSTALO -->
    <section id="dunkles" class="tab-panel">
      <h2>6C. Dunkles Bock</h2>
      <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and
        somewhat toasty qualities of continental malts without being sweet in the finish.</p>
      <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and
        popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the
        17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was
        thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and
        advertisements.</p>
    </section>
  </div>

</div>


<% include partials/footer %>