#contactus {
    /* background-image: url("");
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover; */
    color: black;
    margin-top: 70px;
    background-color: rgba(242,242,242, 0.8);

}
