/* Prva slika i tekst  */
#ogradepodnaslov {
    margin-top: 90px;
}
.lista {
    font-size: 18px;
}
.boja {
    height: 100px;
    width: 20%;
}


.prvaBoja{
    background-color: #F1F2ED;
}

.drugaBoja{
    background-color: #9099A0;
}

.trecaBoja{
    background-color: #393E42;
}

.cetvrtaBoja{
    background-color: #513329;
}


#bg-white{
    background: none;
}

#bg-white2{
    background: none;
}

#bg-white3{
    background: none;
}

#bg-white4{
    background: none;
}





