/* Prva slika i tekst  */
#ogradepodnaslov {
    margin-top: 90px;
}
.lista {
    font-size: 18px;
}
.boja {
    height: 100px;
    width: 20%;
}

/* .fontOgrade{
    font-size: 0.9em;
} */

@media (max-width: 768px) {
    .stopa{
        width: 150% !important;
        overflow-x: hidden !important;  
    }

    #ogradaprvaslika{
        width: 60% !important;
    }
    #ogradadrugaslika{
        width: 69% !important;
        margin-top: 30px;
    }
    #marginaispodstuba {
        margin-top: 40px;
    }
    #nekistub{
        width:58% !important;
        margin-top: 0 !important;
    }
    .mrzimoveslike{
        width: 60% !important;
        margin-left: -350px;
    }
    .carouselslike {
        height: 20% !important;
    }
    .carousel-inner {
        height: 320px;
    }
    #nekidrugistub {
        width: 58% !important;
    }
    #zakacka {
        width: 50% !important;
    }
    #inoxtekst {
        margin-top: 30px;
    }
}

.col-lg-7 img{
    width: 58% !important;
}

.col-lg-5 img{
    width: 85% !important;
}

.prvaBoja{
    background-color: #F1F2ED;
}

.drugaBoja{
    background-color: #9099A0;
}

.trecaBoja{
    background-color: #393E42;
}

.cetvrtaBoja{
    background-color: #513329;
}


#bg-white{
    background: none;
}

#bg-white2{
    background: none;
}

#bg-white3{
    background: none;
}

#bg-white4{
    background: none;
}





